<!DOCTYPE html>
<html lang="en">
    <head>
        <title>List Singer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <br>
                    <button class="btn btn-primary">Add New Singer</button>
                    <h2>List of Singer</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Avatar</th>
                                <th>Option(s)</th>
                            </tr>   
                        </thead>
                        <tbody>
                            <% arraySinger.map(singer=>{%>
                            <tr> 
                                <td><%=singer._id%></td>
                                <td>
                                    <a target="_blank" href="<%=profileLink+singer.link%>">
                                        <%=singer.name%>
                                    </a>
                                </td>
                                <td>
                                    <img width="100px" src="<%=avatarLink+singer.avatar%>" alt="">
                                </td>
                                <td>
                                    <button style="width:100%;" class="btn btn-warning my-1">Update</button>
                                    <br>
                                    <button style="width:100%" class="btn btn-danger"
                                    onclick="return confirm('Are you sure?')"
                                    >
                                    <a href="/delete/<%=singer._id%>">Delete</a>
                                    </button>
                                </td>
                            </tr>
                            <% })%>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>