<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update Singer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-7">
                    <h2 class="text-center">Update Singer 
                        <i><%=singer.name%></i>
                    </h2>
                    <form method="post">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" name="name" placeholder="Enter name" class="form-control" value="<%=singer.name%>">
                        </div>
                        <div class="form-group">
                            <label>Link Profile:</label>
                            <input type="text" name="link" placeholder="Enter link" class="form-control" value="<%=singer.link%>">
                        </div>
                        <div class="form-group">
                            <label>Avatar:</label>
                            <input type="text" name="avatar" placeholder="Enter avatar link" class="form-control" value="<%=singer.avatar%>">
                            <br>
                            <img width="150px" src="<%=avatarLink+singer.avatar%>" alt="">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="UPDATE" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>